In [0]:
import requests
import pandas as pd

In [0]:
divisions = pd.read_csv("unions.csv",names=["divid","id","eng","bang","web"])

In [10]:
divisions.head()

   divid  id              eng            bang                              web
0      1   1            Subil           সুবিল           subilup.comilla.gov.bd
1      2   1  North Gunaighor   উত্তর গুনাইঘর  gunaighornorthup.comilla.gov.bd
2      3   1  South Gunaighor  দক্ষিণ গুনাইঘর    gunaighorsouth.comilla.gov.bd
3      4   1     Boroshalghor        বড়শালঘর    boroshalghorup.comilla.gov.bd
4      5   1        Rajameher       রাজামেহার        rajameherup.comila.gov.bd

In [0]:
del divisions['eng']
del divisions['divid']
del divisions['web']

In [12]:
divisions

       id                 bang
0       1                সুবিল
1       1        উত্তর গুনাইঘর
2       1       দক্ষিণ গুনাইঘর
3       1             বড়শালঘর
4       1            রাজামেহার
...   ...                  ...
4535  491           ঠাকুরাকোণা
4536  491               মৌগাতি
4537  491                 রৌহা
4538  491                মেদনী
4539  491  কালিয়ারা গাবরাগাতি

[4540 rows x 2 columns]

In [0]:
for i,row in divisions.iterrows():
    url2015   = "http://dev.pipilika.com:5001/get_dengue_news?location="+row['bang']+"&start_date=2015-01-01&end_date=2015-12-31"
    request2015  = requests.get(url2015).json()
    divisions.loc[i,'2015']  = request2015
    url2016   = "http://dev.pipilika.com:5001/get_dengue_news?location="+row['bang']+"&start_date=2016-01-01&end_date=2016-12-31"
    request2016  = requests.get(url2016).json()
    divisions.loc[i,'2016']  = request2016
    url2017   = "http://dev.pipilika.com:5001/get_dengue_news?location="+row['bang']+"&start_date=2017-01-01&end_date=2017-12-31"
    request2017 = requests.get(url2017).json()
    divisions.loc[i,'2017']  = request2017
    url2018   = "http://dev.pipilika.com:5001/get_dengue_news?location="+row['bang']+"&start_date=2018-01-01&end_date=2018-12-31"
    request2018  = requests.get(url2018).json()
    divisions.loc[i,'2018']  = request2018
    url2019   = "http://dev.pipilika.com:5001/get_dengue_news?location="+row['bang']+"&start_date=2019-01-01&end_date=2019-12-31"
    request2019  = requests.get(url2019).json()
    divisions.loc[i,'2019']  = request2019
    url2020 = "http://dev.pipilika.com:5001/get_dengue_news?location="+row['bang']+"&start_date=2020-01-01&end_date=2020-03-31"
    request2020 = requests.get(url2020).json()
    divisions.loc[i,'2020'] = request2020
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140

In [0]:
divisions

     id           bang  2019  20191  20192  ...  201912  2020  20201  20202  20203
0     1      দেবিদ্বার  23.0    0.0    0.0  ...     0.0   0.0    0.0    0.0    0.0
1     1         বরুড়া   2.0    0.0    0.0  ...     0.0   0.0    0.0    0.0    0.0
2     1  ব্রাহ্মণপাড়া   7.0    0.0    0.0  ...     0.0   0.0    0.0    0.0    0.0
3     1       চান্দিনা  25.0    0.0    0.0  ...     0.0   0.0    0.0    0.0    0.0
4     1     চৌদ্দগ্রাম  16.0    0.0    0.0  ...     2.0   0.0    0.0    0.0    0.0
..   ..            ...   ...    ...    ...  ...     ...   ...    ...    ...    ...
486  64     খালিয়াজুরী   1.0    0.0    0.0  ...     0.0   0.0    0.0    0.0    0.0
487  64     কলমাকান্দা   7.0    0.0    0.0  ...     0.0   0.0    0.0    0.0    0.0
488  64       মোহনগঞ্জ   8.0    0.0    0.0  ...     0.0   0.0    0.0    0.0    0.0
489  64       পূর্বধলা   1.0    0.0    0.0  ...     0.0   2.0    2.0    0.0    0.0
490  64  নেত্রকোণা সদর  46.0    0.0    0.0  ...     0.0   0.0    0.0    0.0    0.0

[491 rows x 19 columns]

In [0]:
divisions.to_csv("upazillaCorrected.csv")